<div class="container">
    <h1 class="text-center mb-3">To-do List</h1>
    <h4>Add new Todos</h4>
    <div class="my-3">
        <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    </div>

    <h4>Your Todos</h4>
    <div *ngIf="this.todos.length === 0; else elseBlock">No to-dos to show!</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoToggle)="toggleTodo($event)" (todoDelete)="deleteTodo($event)">
            </app-todo-item>
        </div>
    </ng-template>
</div>